<form class="form-horizontal row">
          <fieldset class="form-group">
              <br>
              <br>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="displayInformation" id="displayInformation1" checked="" ng-value="transportDensity" >
                    Transport density
                </label>
              </div>

              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="displayInformation" id="displayInformation1" checked="" ng-value="rentalPrice">
                    Rental price
                </label>
              </div>

              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="displayInformation" id="displayInformation1" checked="" ng-value="tweetsDensity">
                    Tweets density
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="displayInformation" id="displayInformation1" checked="" ng-value="nightLive">
                    Night live
                </label>
              </div>

              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="displayInformation" id="displayInformation1" checked="" ng-value="agePopulation">
                    Age population
                </label>
              </div>

              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="displayInformation" id="displayInformation1" checked="" ng-value="studiesLevel">
                    Studies Level
                </label>
              </div>

              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="displayInformation" id="displayInformation1" checked="" ng-value="incomeIndex">
                    Income Index
                </label>
              </div>