<div class="row col-md-12">

    <div class="row" >

        <div id="map" class="col-md-12"/>


        <div id="layercontrol1" style="position: absolute;top: 100px; right: 30px;z-index: 9999;" class="row col-md-2">
            <!--<label><input type="checkbox" data-layer="cities">Cities</label>-->
            <form style="background-color: #ffffff; border-radius: 25px;" class="row">
                <fieldset class="row text-left col-md-11 col-md-offset-1">
                    <legend >Options <i class="glyphicon glyphicon-info-sign clickable" style="color:dodgerblue" ng-click="showTutorial();" data-step="1"   data-intro="Enable the features by which you want to distinguish
the neigbourhoods. You can also indicate if you want
the features to order the neighbourhoods in increasing
or decreasing order with the right hand arrows. Moreover,
non discriminative features such as the
location of real time tweets can be added to the map." data-position="left"></i></legend>

                    <div class="form-group row">

                        <div class="form-check col-md-8 text-left">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" ng-model="formOptions.rental_council" checked="">
                                Official rental price
                            </label>
                        </div>
                        <div class="col-md-4 text-right">
                            <span class="glyphicon glyphicon-triangle-top col-md-1 clickable" aria-hidden="true" ng-click="formOptions.rental_council_direction = 1" ng-style="formOptions.rental_council_direction == 1? { color: 'black' } : { color: 'grey' }" data-step="3"   data-intro="You can use this arrows to select if a zone with a bigger value of this feature should be painted in green color." data-position="left"></span>
                            <span class="glyphicon glyphicon-triangle-bottom col-md-1 clickable" aria-hidden="true" ng-click="formOptions.rental_council_direction = -1" ng-style="formOptions.rental_council_direction == -1? { color: 'black' } : { color: 'grey' }"  data-step="4"   data-intro="Or you can select this if you want the zone to get more red when the value of this characteristic is bigger" data-position="left"></span>
                        </div>


                        <div class="form-check col-md-8">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" ng-model="formOptions.rental_web" value="" checked="">
                                Calculated rental price
                            </label>
                        </div>
                        <div class="col-md-4">
                            <span class="glyphicon glyphicon-triangle-top col-md-1" aria-hidden="true" ng-click="formOptions.rental_web_direction = 1" ng-style="formOptions.rental_web_direction == 1? { color: 'black' } : { color: 'grey' }"></span>
                            <span class="glyphicon glyphicon-triangle-bottom col-md-1" aria-hidden="true" ng-click="formOptions.rental_web_direction = -1" ng-style="formOptions.rental_web_direction == -1? { color: 'black' } : { color: 'grey' }"></span>
                        </div>

                        <div class="form-check col-md-8">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" ng-model="formOptions.mean_size_price" value="" checked="">
                                €/m^2
                            </label>
                        </div>
                        <div class="col-md-4">
                            <span class="glyphicon glyphicon-triangle-top col-md-1" aria-hidden="true" ng-click="formOptions.mean_size_price_direction = 1" ng-style="formOptions.mean_size_price_direction == 1? { color: 'black' } : { color: 'grey' }"></span>
                            <span class="glyphicon glyphicon-triangle-bottom col-md-1" aria-hidden="true" ng-click="formOptions.mean_size_price_direction = -1" ng-style="formOptions.mean_size_price_direction == -1? { color: 'black' } : { color: 'grey' }"></span>
                        </div>

                        <div class="form-check col-md-8">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" ng-model="formOptions.night" value="" checked="">
                                Night activity
                            </label>
                        </div>
                        <div class="col-md-4">
                            <span class="glyphicon glyphicon-triangle-top col-md-1" aria-hidden="true" ng-click="formOptions.night_direction = 1" ng-style="formOptions.night_direction == 1? { color: 'black' } : { color: 'grey' }"></span>
                            <span class="glyphicon glyphicon-triangle-bottom col-md-1" aria-hidden="true" ng-click="formOptions.night_direction = -1" ng-style="formOptions.night_direction == -1? { color: 'black' } : { color: 'grey' }"></span>
                        </div>

                        <div class="form-check col-md-8">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" ng-model="formOptions.population" value="" checked="">
                                Total population
                            </label>
                        </div>
                        <div class="col-md-4">
                            <span class="glyphicon glyphicon-triangle-top col-md-1" aria-hidden="true" ng-click="formOptions.population_direction = 1" ng-style="formOptions.population_direction == 1? { color: 'black' } : { color: 'grey' }"></span>
                            <span class="glyphicon glyphicon-triangle-bottom col-md-1" aria-hidden="true" ng-click="formOptions.population_direction = -1" ng-style="formOptions.population_direction == -1? { color: 'black' } : { color: 'grey' }"></span>
                        </div>

                        <div class="form-check col-md-8">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" ng-model="formOptions.young" value="" checked="">
                                Population age
                            </label>
                        </div>
                        <div class="col-md-4">
                            <span class="glyphicon glyphicon-triangle-top col-md-1" aria-hidden="true" ng-click="formOptions.young_direction = 1" ng-style="formOptions.young_direction == 1? { color: 'black' } : { color: 'grey' }"></span>
                            <span class="glyphicon glyphicon-triangle-bottom col-md-1" aria-hidden="true" ng-click="formOptions.young_direction = -1" ng-style="formOptions.young_direction == -1? { color: 'black' } : { color: 'grey' }"></span>
                        </div>

                        <div class="form-check col-md-8">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" ng-model="formOptions.restaurants" value="" checked="">
                                Restaurants
                            </label>
                        </div>
                        <div class="col-md-4">
                            <span class="glyphicon glyphicon-triangle-top col-md-1" aria-hidden="true" ng-click="formOptions.restaurants_direction = 1" ng-style="formOptions.restaurants_direction == 1? { color: 'black' } : { color: 'grey' }"></span>
                            <span class="glyphicon glyphicon-triangle-bottom col-md-1" aria-hidden="true" ng-click="formOptions.restaurants_direction = -1" ng-style="formOptions.restaurants_direction == -1? { color: 'black' } : { color: 'grey' }"></span>
                        </div>

                        <div class="form-check col-md-8">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" ng-model="formOptions.clothes_stores" value="" checked="">
                                Shopping
                            </label>
                        </div>
                        <div class="col-md-4">
                            <span class="glyphicon glyphicon-triangle-top col-md-1" aria-hidden="true" ng-click="formOptions.clothes_stores_direction = 1" ng-style="formOptions.clothes_stores_direction == 1? { color: 'black' } : { color: 'grey' }"></span>
                            <span class="glyphicon glyphicon-triangle-bottom col-md-1" aria-hidden="true" ng-click="formOptions.clothes_stores_direction = -1" ng-style="formOptions.clothes_stores_direction == -1? { color: 'black' } : { color: 'grey' }"></span>
                        </div>

                        <div class="form-check col-md-8">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" ng-model="formOptions.show_tweets" value="" checked="">
                                Real time tweets
                            </label>
                        </div>


                        <div class="form-check col-md-8">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" ng-model="formOptions.show_graph" value="" checked="">
                                Transport graph
                            </label>
                        </div>


                        <br style="margin-top:50px">
                        <div class="row col-md-12 text-right">
                            <div class="btn btn-success" ng-click="getHeatMapData()" data-step="5"   data-intro="Once you are done with the selection, click the button and let the application paint the results. You can click any neigbourhood to get more information about it." data-position="left">
                                <span class="glyphicon glyphicon-search" aria-hidden="true" ></span> Search
                            </div>
                        </div>

                    </div>
                </fieldset>
            </form>

        </div>


        <div id="layercontrol2" style="position: absolute;bottom: 20px; right: 30px;z-index: 9999;" class="text-left">
            <!--<label><input type="checkbox" data-layer="cities">Cities</label>-->

            <h5>Selected granularity</h5>
            <label>
                <input type="radio" name="granularityRadio" id="granularityRadio2" ng-value="polygons2" ng-model="granularitySelected" ng-change="changeShownPolygons(1)">
                Neighborhood
            </label>
            <br>
            <!--<label>-->
            <!--<input type="radio" name="granularityRadio" id="granularityRadio1" ng-value="polygons1" ng-model="granularitySelected" ng-change="changeShownPolygons(0)">-->
            <!--Districts-->
            <!--</label>-->



        </div>

        <div id="layercontrol3" style="position: absolute;bottom: 50px; right: 100px;z-index: 9999;" class="text-left">
            <!--<label><input type="checkbox" data-layer="cities">Cities</label>-->
            <div class="col-md-10 text-center">
                <h5>Legend</h5>
            </div>

            <div class="row col-md-12">
                <div class="row col-md-10 col-md-offset-1">
                    <div class="col-md-6">
                        <p>Highly recommended</p>
                    </div>

                    <div class="col-md-6">
                        <p>Poorly recommended</p>
                    </div>
                </div>

                <div class="row col-md-8 col-md-offset-3">
                    <div class=" col-md-2" ng-repeat="custom_color in heat_map_colors.slice().reverse()" style="background-color: {{custom_color}};height: 30px; width:40px;opacity:0.6">

                    </div>
                </div>
            </div>

        </div>


    </div>
</div>



