<div class="row col-md-12">

    <div class="row" >

        <div id="map" class="col-md-12"/>
        <div class="row col-md-1" style="position:absolute;top: 0%; z-index: 9999;">
            <div id="open-side-nav-btn" class="btn btn-default btn-sm pull-right" ng-click="openNav()">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            </div>
        </div>

        <div id="report" class="col-md-4" ng-if="showReport" style="position: absolute;bottom: 200px; right: 30px;z-index: 9999;background-color: #0a6ebd">
            <h1>Report</h1>
        </div>

        <div id="layercontrol" style="position: absolute;bottom: 100px; right: 30px;z-index: 9999;" class="text-left">
            <!--<label><input type="checkbox" data-layer="cities">Cities</label>-->

            <h5>Selected granularity</h5>
            <label>
                <input type="radio" name="granularityRadio" id="granularityRadio2" ng-value="polygons2" ng-model="granularitySelected" ng-change="changeShownPolygons(1)">
                Neighborhood
            </label>
            <br>
            <!--<label>-->
                <!--<input type="radio" name="granularityRadio" id="granularityRadio1" ng-value="polygons1" ng-model="granularitySelected" ng-change="changeShownPolygons(0)">-->
                <!--Districts-->
            <!--</label>-->

        </div>
    </div>
</div>



<div id="mySidenav" class="sidenav" style="z-index: 9999;">
    <a href="javascript:void(0)" class="closebtn" ng-click="closeNav()">&times;</a>
    <!--<a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>-->
    <div class="row col-md-10 col-md-offset-1">


        <ul class="nav nav-tabs row ">
            <li class="nav-item " ng-style="tab==0 ? { color: '272b30' } : { color: 'white' }">
                <a class="nav-link active " data-toggle="tab"  ng-click="tab=0; tabChanged()" ng-style="tab==0 ? { color: '272b30' } : { color: 'white' }">Explore</a>
            </li>
            <li class="nav-item " ng-style="tab==1 ? { color: '272b30' } : { color: 'white' }">
                <a class="nav-link" data-toggle="tab" ng-click="tab=1; tabChanged()" ng-style="tab==1 ? { color: '272b30' } : { color: 'white' }">Find</a>
            </li>
            <!--<li class="nav-item " ng-style="tab==2 ? { color: '272b30' } : { color: 'white' }">-->
                <!--<a class="nav-link" data-toggle="tab" ng-click="tab=2" ng-style="tab==2 ? { color: '272b30' } : { color: 'white' }">Options</a>-->
            <!--</li>-->
        </ul>

        <div ng-if="tab==0">
            <form class="form-horizontal row">
                <fieldset class="form-group">
                    <h5>Visualise</h5>
                    <div class="col-lg-12">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="displayInformation" id="displayInformation1" ng-value="0"  ng-model="displayInformation" ng-change="displayInformationChanged(0)" >
                                Transport density
                            </label>
                        </div>

                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="displayInformation" id="displayInformation2" ng-value="1"  ng-model="displayInformation" ng-change="displayInformationChanged(1)">
                                Rental price
                            </label>
                        </div>

                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="displayInformation" id="displayInformation3" ng-value="2"   ng-model="displayInformation" ng-change="displayInformationChanged(2)" >
                                Tweets density
                            </label>
                        </div>
                        <div class="form-check disabled">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="displayInformation" id="displayInformation4" ng-value="3"  disabled="" ng-model="displayInformation" ng-change="displayInformationChanged(3)">
                                Night live
                            </label>
                        </div>

                        <div class="form-check disabled">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="displayInformation" id="displayInformation5" ng-value="4"  disabled="" ng-model="displayInformation" ng-change="displayInformationChanged(4)">
                                Age population
                            </label>
                        </div>

                        <div class="form-check disabled">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="displayInformation" id="displayInformation6" ng-value="5"  disabled="" ng-model="displayInformation" ng-change="displayInformationChanged(5)">
                                Studies Level
                            </label>
                        </div>

                        <div class="form-check disabled">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="displayInformation" id="displayInformation7" ng-value="6"  disabled="" ng-model="displayInformation" ng-change="displayInformationChanged(6)">
                                Income Index
                            </label>
                        </div>

                        <div class="form-check disabled">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="displayInformation" id="displayInformation8" ng-value="7"  ng-model="displayInformation" ng-change="displayInformationChanged(7)">
                                Transport graph
                            </label>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>



        <div ng-if="tab==1">

            <form class="form-horizontal row">
                <fieldset>
                    <div class="form-group">
                        <h5>Transport</h5>
                        <div class="col-lg-12">
                            <h6>Type</h6>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-primary btn-sm"  >
                                    <input type="checkbox" ng-model="transportOption" ng-value="0"> Metro
                                </label>
                                <label class="btn btn-primary btn-sm">
                                    <input type="checkbox" ng-model="transportOption" ng-value="1"> Bus
                                </label>
                                <label class="btn btn-primary btn-sm">
                                    <input type="checkbox" ng-model="transportOption" ng-value="2"> Tram
                                </label>
                                <label class="btn btn-primary btn-sm">
                                    <input type="checkbox" ng-model="transportOption" ng-value="3"> Train
                                </label>
                            </div>
                            <br>
                            <label class="col-form-label" for="inputDefault"> <h6>Frequently visited place </h6><p>(you can click the point on the map)</p></label>
                            <input type="text" class="form-control" id="inputDefault" ng-model="clickedPoint">

                            <label class="col-form-label"><h6>Maximum travelling time</h6></label>
                            <select class="form-control"  id="maxTravellingTimeSelect" ng-model="preferences.maxTimeTravelling">
                                <option value="5">5 min</option>
                                <option value="10">10 min</option>
                                <option value="20">20 min</option>
                                <option value="30">30 min</option>
                                <option value="40">40 min</option>
                                <option value="50">50 min</option>
                                <option value="60">1 h</option>
                                <option value="90">1:30 h</option>
                                <option value="120">2 h</option>
                            </select>


                            <!--<div id="slidecontainer">

                              <input type="range" id="ex8" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="14"/>

                              <rzslider rz-slider-model="slider.value" rz-slider-options="slider.options"></rzslider>
                            </div>-->

                        </div>
                        <br>
                        <h5>Rental price</h5>
                        <div class="col-lg-6">
                            <label class="col-form-label"><h6>Minimum</h6></label>
                            <select class="form-control"  id="minRentalPriceSelect" ng-model="preferences.minRentalPrice">
                                <option value="400">400 €</option>
                                <option value="500">500 €</option>
                                <option value="600">600 €</option>
                                <option value="700">700 €</option>
                                <option value="800">800 €</option>
                                <option value="900">900 €</option>
                                <option value="1000">1000 €</option>
                                <option value="1500">1500 €</option>
                                <option value="2000">2000 €</option>
                                <option value="2500">2500 €</option>
                                <option value="3000">3000 €</option>
                                <option value="3500">3500 €</option>
                                <option value="4000">4000 €</option>
                            </select>
                        </div>
                        <div class="col-lg-6">
                            <label class="col-form-label" ><h6>Maximum</h6></label>
                            <select class="form-control"  id="maxRentalPriceSelect" ng-model="preferences.maxRentalPrice">
                                <option value="400">400 €</option>
                                <option value="500">500 €</option>
                                <option value="600">600 €</option>
                                <option value="700">700 €</option>
                                <option value="800">800 €</option>
                                <option value="900">900 €</option>
                                <option value="1000">1000 €</option>
                                <option value="1500">1500 €</option>
                                <option value="2000">2000 €</option>
                                <option value="2500">2500 €</option>
                                <option value="3000">3000 €</option>
                                <option value="3500">3500 €</option>
                                <option value="4000">4000 €</option>
                            </select>
                        </div>
                        <!--<input type="range" id="ex6" min="-10" max="10", value ="0">
                        <input id="ex6" type="text" data-slider-min="-5" data-slider-max="20" data-slider-step="1" data-slider-value="3"/&t
                        <span id="ex6CurrentSliderValLabel">Current Slider Value: <span id="ex6SliderVal">3</span></span>-->

                        <br>
                        <br>
                        <br>
                        <br>
                        <h5>Quiet area</h5>
                        <div class="col-lg-12">
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-primary btn-sm" ng-click="changeNightLive(0)">
                                    <input type="radio" name="nightLive" id="nightLive-Op1" > High</input>
                                </label>
                                <label class="btn btn-primary btn-sm" ng-click="changeNightLive(1)">
                                    <input type="radio" name="nightLive" id="nightLive-Op2" > Medium</input>
                                </label>
                                <label class="btn btn-primary btn-sm" ng-click="changeNightLive(2)">
                                    <input type="radio" name="nightLive" id="nightLive-Op3" > Low</input>
                                </label>
                            </div>
                        </div>
                        <br>
                        <br>
                        <!--<h5>Type of housing</h5>-->
                        <!--<div class="col-lg-12">-->
                            <!--<div class="btn-group" data-toggle="buttons">-->
                                <!--<label class="btn btn-primary btn-sm">-->
                                    <!--<input type="radio" name="typeOfHousing" id="typeOfHousing-Op1" ng-model="typeOfHousing"> Familiar-->
                                <!--</label>-->
                                <!--<label class="btn btn-primary btn-sm">-->
                                    <!--<input type="radio" name="typeOfHousing" id="typeOfHousing-Op1" ng-model="typeOfHousing"> Shariny-->
                                <!--</label>-->
                                <!--<label class="btn btn-primary btn-sm">-->
                                    <!--<input type="radio" name="typeOfHousing" id="typeOfHousing-Op1" ng-model="typeOfHousing"> Individual-->
                                <!--</label>-->
                            <!--</div>-->
                        <!--</div>-->

                        <br>
                        <br>
                        <br>
                        <br>
                        <div class="col-md-12 row text-right">
                            <div class="btn btn-success" ng-click="calculateRecommendation();closeNav()">Search</div>
                        </div>
                    </div>
                </fieldset>
            </form>

        </div>
        <!--<div ng-if="tab==2">-->
            <!--<form class="form-horizontal row">-->
                <!--<fieldset>-->
                    <!--<div class="form-group">-->
                        <!--<br>-->
                        <!--<label class="col-lg-2 control-label">Polygon granularity</label>-->
                        <!--<br>-->
                        <!--<br>-->
                        <!--<div class="col-lg-10">-->
                            <!--<div class="radio">-->
                                <!--<label>-->
                                    <!--<input type="radio" name="granularityRadio" id="granularityRadio1" ng-value="polygons1" ng-model="granularitySelected" ng-change="changeShownPolygons(0)">-->
                                    <!--Districts-->
                                <!--</label>-->
                            <!--</div>-->
                            <!--<div class="radio">-->
                                <!--<label>-->
                                    <!--<input type="radio" name="granularityRadio" id="granularityRadio2" ng-value="polygons2" ng-model="granularitySelected" ng-change="changeShownPolygons(1)">-->
                                    <!--Neighborhood-->
                                <!--</label>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--&lt;!&ndash;<div class="form-group">-->
                      <!--<label class="col-lg-2 control-label">Data shown</label>-->
                      <!--<br>-->
                      <!--<br>-->
                      <!--<div class="col-lg-10">-->
                        <!--<div class="radio">-->
                          <!--<label>-->
                            <!--<input type="radio" name="selectedDataset" id="dataShown1" value="airbnb" ng-model="selectedDataset" ng-checked="true" >-->
                            <!--Airbnb listings-->
                          <!--</label>-->
                        <!--</div>-->
                      <!--</div>-->
                    <!--</div>-->

                    <!--<div class="form-group">-->
                      <!--<label class="col-lg-2 control-label">Data type</label>-->
                      <!--<br>-->
                      <!--<br>-->
                      <!--<div class="col-lg-10">-->
                        <!--<div class="radio">-->
                          <!--<label>-->
                            <!--<input type="radio" name="selectedDataType" id="dataType1" value="point" ng-model="selectedDatasetType" ng-checked="true" >-->
                            <!--Point-->
                          <!--</label>-->
                          <!--<br>-->

                          <!--<label>-->
                            <!--<input type="radio" name="selectedDataType" id="dataType2" value="choropleth" ng-model="selectedDatasetType">-->
                            <!--Choropleth-->
                          <!--</label>-->

                        <!--</div>-->
                      <!--</div>-->
                    <!--</div>&ndash;&gt;-->

                <!--</fieldset>-->
            <!--</form>-->

        <!--</div>-->

    </div>

</div>


<div class="row col-md-12 align-bottom" style="float:right;position:absolute;bottom:10%;" ng-if="selectedDataset == dataShown1" style="z-index: 9999">

    <div class="col-md-8 col-md-offset-4 text-right" ng-if="currentDate != -1">
        <h2>{{currentDate | date:'EEEE dd-MM-yyyy'}}</h2>
    </div>

    <div class="col-md-8 col-md-offset-4 text-right" ng-if="currentDate != -1">
        <h4>Total listings: {{totalListings}}</h4>
    </div>

    <div class="col-md-8 col-md-offset-4 text-right" ng-if="currentDate != -1">

        <button id="button_play" type="button" class="btn btn-default btn-sm" ng-click="buttonPlayPressed()" ng-class="{'glyphicon glyphicon-pause':(time_slider_state == STATE_PLAY || time_slider_state == STATE_RESUME)}">
                  <span aria-hidden="true" ng-class="{'glyphicon glyphicon-play':(time_slider_state == STATE_PAUSE || time_slider_state == STATE_STOP)}">

                  </span>
        </button>


        <button id="button_next" type="button" class="btn btn-default btn-sm" ng-click="buttonNextPressed()">
                <span class="glyphicon glyphicon-step-forward">
                </span>
        </button>
    </div>

</div>


