<div class="row text-center col-md-12" >

  <!-- JUAN, EDITA ESTO-->
  <section class="feature" style="background-image: barce.jpg">
    <div class="container">
    <h1>
      <span class="top fittexted" style="font-size: 61.4136px;"><b class=" top-decoration">Barcelona:</b></span>
      <span class="bottom fittexted" style="font-size: 131.798px;">Where should I live!</span>
    </h1>
    <!-- de david -->
    <div class="row col-md-10 col-md-offset-1">
      <div class="col-md-4 col-md-offset-1 text-right">
        <div class="btn btn-success">
          <a href="#/map" style="color:white">Explore the data</a>
        </div>
      </div>
      <div class="col-md-5 col-md-offset-1 text-left">
        <div class="btn btn-success">
          <a href="#/map" style="color:white">Advanced search</a>
        </div>
      </div>
    </div>
    <!-- ahsta aqui-->
  </div>
    <img src="barce.jpg">
  </section>
  <!-- nueva sección -->

    <section class="thankful-for">
      <div class="container align-center">
      <div class="copy headline">
        <p>Have you ever arrived to a city and did not know where to live? Did not
          know anything about rental prices or even transportion? Did you
          thought about night live? With Barcelona: Where should I live? you have
          all these problems solved. Choose your neighbourhood according to your real
          preferences and save thousands of hours of looking at wrong places.</p>
      </div>
    </div>
  </section>
  <section class="page-content" id="how-it-works">
    <div class="container align-center checkmarks">
      <div class="copy headline align-left ">
        <p style="display:block">
          <img src="sub.jpeg" class = "low align-left">
          <strong>Transportation</strong>
          <br>
          How much time will I have to spent from this place to my job If I choose to live here? Will I have to take several transfers?
        </p>
        <p>
          <img src="rent.jpg" class = "low align-left">
          <strong>Rental prices</strong>
          <br>
          Which neighbourhoods are the most expensive? and the cheapest? What neighbourhoods are left if I do not want to pay more than, for
          example, 800 euros.
        </p>
        <p>
          <img src="disco.jpg" class = "low align-left">
          <strong>Night Life</strong>
          <br>
          Do you want to live in a quiet and restful place? Or maybe you prefer a street where life explodes in nights of extasy and color?
        </p>
      </div>
    </div>
  </section>


</section>
<!-- nueva sección-->

</div>

<footer role="contentinfo">
  <nav class="footer-secondary">

    <div class="container">
          <p>
            <small class="copyright"> © 2017 BWSIL | Authors: Solans, D.; Sarlé, E.; Espanyol, F.; Zambrana, C.; Ferrer, A.; Borrego, J. </small>
            <small class="credit"> Warm thanks: Thankful LLC</small>
          </p>
        </div>
  </nav>

</footer>
