<div class="row text-center col-md-12" >

  <!-- JUAN, EDITA ESTO-->

  <div class="row col-md-12 text-center">
    <h1>Welcome page</h1>
  </div>
  <div class="row col-md-10 col-md-offset-1">
    <div class="col-md-4 col-md-offset-1 text-right">
      <div class="btn btn-success">
        <a href="#/map" style="color:white">Explore the data</a>
      </div>
    </div>
    <div class="col-md-5 col-md-offset-1 text-left">
      <div class="btn btn-success">
        <a href="#/map" style="color:white">Advanced search</a>
      </div>
    </div>
  </div>

</div>
