<div class="row text-center col-md-12" style="height:100vh;">

  <!-- JUAN, EDITA ESTO-->

  <div class="jumbotron row" style="height:100vh;background-image: url('images/barce3.png'); background-repeat:no-repeat; background-size:cover;  background-repeat:   no-repeat;background-position: center center;">
    <h1 class="display-3 row" style="z-index:9999">
      <span style="color:white" class="top fittexted col-md-12 text-center" style="font-size: 61.4136px;"><b class=" top-decoration">Barcelona:</b></span>
      <span style="color:white" class="bottom fittexted col-md-12 text-center" style="font-size: 131.798px;">Where should I live?</span>

    </h1>
    <hr class="my-4">
    <p style="color:white;background-color: #141414; opacity: .8; " class="lead col-md-8 col-md-offset-2">Have you ever arrived to a city and did not know where to live? Did not
      know anything about rental prices or even transportation? Did you
      thought about night live? With <a style="font-weight: bold">Barcelona: Where should I live? </a>you have
      all these problems solved. Choose your neighbourhood according to your real
      preferences and save thousands of hours of looking at wrong places.
    <br>
      <br>
      And it's completely FREE!
    </p>


    <!--<p class="lead">-->
      <!--<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>-->

    <div style="height: 20vh"/>
    <div class="col-md-5 col-md-offset-1 text-right">
      <a class="btn btn-success" href="#/map-explore"   style="color:white">
        Explore the data
      </a>
    </div>
    <div class="col-md-5 text-left">
      <a class="btn btn-success" href="#/map-recommend"  style="color:white">
        Advanced search
      </a>

    </div>

    </p>
  </div>
  <div style="height: 3vh"/>
  <div style="height: 75px"/>


  <div class="row text-center col-md-12">

        <div class="copy headline align-left row col-md-4">
          <p class="col-md-10 col-md-offset-1">
            <span class="glyphicon glyphicon-plane" aria-hidden="true" style="font-size: 50px;"></span>
            <strong style="font-size: 40px;">Transportation</strong>
            <br>
            How much time will I have to spent from this place to my job If I choose to live here? Will I have to take several transfers?
          </p>
        </div>
        <div class="copy headline align-left row col-md-4">
          <p class="col-md-10 col-md-offset-1">
            <span class="glyphicon glyphicon-piggy-bank" aria-hidden="true" style="font-size: 50px;"></span>
            <strong style="font-size: 40px;">Rental prices</strong>
            <br>
            Which neighbourhoods are the most expensive? and the cheapest? What neighbourhoods are left if I do not want to pay more than, for
            example, 800 euros.
          </p>
        </div>
        <div class="copy headline align-left row col-md-4">
          <p class="col-md-10 col-md-offset-1">
            <span class="glyphicon glyphicon-cd" aria-hidden="true" style="font-size: 50px;"></span>
            <strong style="font-size: 40px;">Night Life</strong>
            <br>
            Do you want to live in a quiet and restful place? Or maybe you prefer a street where life explodes in nights of extasy and color?
          </p>
        </div>

    <!-- nueva sección-->

  </div>

  <div style="height: 2vh"/>
  <div style="height: 50px"/>
  <div style="height: 20vh"/>


  <footer role="contentinfo">
    <nav class="footer-secondary">

      <div class="container">
        <p>
          <small class="copyright"> © 2017 BWSIL | Authors: Solans, D.; Sarlé, E.; Espanyol, F.; Zambrana, C.; Ferrer, A.; Borrego, J. </small>
          <small class="credit"> Warm thanks: Thankful LLC</small>
        </p>
      </div>
    </nav>

  </footer>
